<div class="form-group row">
  <div id="newForm" class="form-group">
    <div class='JSDraw' id="test" dataformat='' data=''></div>
    <div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">SMILES</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="item.smiles">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">CAS#</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="item.cas">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="item.name">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Quantity</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="item.quantity">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Supplier</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="item.supplier">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Location</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="item.location">
      </div>
    </div>
    <button class="btn btn-success" (click)="create()">Send</button>
  </div>
</div>

<!-- <script type="text/javascript">
  JSDraw.create('test', {
    plugins: [{
      iconurl: 'plugins/world.gif',
      tooltips: 'Get SMILES',
      onclick: foo
    }]
  });

  function foo(jsdraw) {
    var smiles = jsdraw.getSmiles();
    $('#smiles').val(smiles);
  }

</script> -->