<div>
    <button id=newQuery class="btn btn-primary" [routerLink]="['/search']">New Search</button>
</div>
<div id="response">
    <div id="select">
    </div>
</div>
<div id="hit" class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <table id="recordTable" class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col" width="20%">PROPERTY</th>
                        <th scope="col" width="80%">VALUE</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="canvas-container">
                <canvas id="output-canvas"></canvas>
            </div>
        </div>
    </div>
</div>
<div>
    <button id=editItem class="btn btn-primary" [routerLink]="['/update']">Edit Item</button>
    <button id=deleteItem class="btn btn-danger" [routerLink]="['/delete']">Delete Item</button>
</div>


<script>
    $(document).ready(function () {
        var search = localStorage.getItem('search'); //get search phrase from local storage
        var settings = {
            async: true,
            crossDomain: true,
            url: "https://pht-api-munonj7kmq-ew.a.run.app/api/chemicals/get",
            method: "GET",
            data: `search=${search}`
        };
        $.ajax(settings).done(function (data) {
            var numberOfHits = data.length;
            console.log(numberOfHits);
            var selected = false; // var for checking if record is selected for table toggling purpose 
            var ids = []; // array of ids of finded records, strored for set unique button id

            if (numberOfHits == 0) {
                $("#response").empty().append(
                    `<button type="button" class="btn btn-danger center" disabled>Compound not found</button>
                <button id="addNewItem" class="btn btn-success">Add new item</button>`);
            } else {
                $("#select").empty()
                for (var i = 0; i < numberOfHits; i++) {
                    $("#select").append(
                        `<button id="${data[i].id}" type="button" class="btn btn-success center">${data[i].name}</button>`
                        );
                    ids.push(data[i].id);
                } // filling <div id="select"> with buttons for finded records to view
            }

            // mouseoverem mozna zebrac id
            $('button').click(function (e) {
                var vieved = e.target.id; // original ID in db
                var currentId; // index in ids array
                for (var i = 0; i < ids.length; i++) {
                    if (ids[i] == vieved) currentId = i;
                }
                if (isNaN(currentId))
            return; //this on click i triggered on every button pressed, but is dediacted only for those with numerical id
                result = data[currentId];
                localStorage.setItem('edit', JSON.stringify(result));
                // var id = result.id; //ok
                // console.log("ID: " + id);
                //console.log("Data: " + data);
                //console.log("Viewed:" + vieved);
                //console.log(localStorage.getItem('edit'));
                if (!selected) {
                    $("#hit").toggle();
                    selected = true;
                }

                var smiles = result.smiles;
                //console.log(smiles);
                var options = {
                    debug: false,
                    atomVisualization: 'default'
                }
                var smilesDrawer = new SmilesDrawer.Drawer(options);

                function draw() {
                    SmilesDrawer.parse(smiles, function (tree) {
                        smilesDrawer.draw(tree, 'output-canvas', 'light', false);
                    }, function (err) {
                        console.log(err);
                    });
                }
                draw();

                $("#tableBody").empty().append(`
            <tr>
                <th scope="row">CAS</th>
                <td>${result.cas}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>${result.name}</td>
            </tr>
            <tr>
                <th scope="row">Location</th>
                <td>${result.location}</td>
            </tr>
            <tr>
                <th scope="row">Supplier</th>
                <td>${result.supplier}</td>
            </tr>
            <tr>
                <th scope="row">Quantity</th>
                <td>${result.quantity}</td>
            </tr>      
            `);

            });
        });
        // $("#newQuery").click(function () {
        //     var ctrl = new SearchCtrl();
        //     ctrl.GetView();
        // });
        // $("#editItem").click(function () {
        //     var ctrl = new EditItemCtrl();
        //     ctrl.GetView();
        // });
        // $("#deleteItem").click(function () {
        //     var ctrl = new DeleteItemCtrl();
        //     ctrl.GetView();
        // });
    });
</script>