<div>
  <button class="btn btn-primary" routerLink="/search">New Search</button>
  <div id="load">
    <div *ngIf="numberOfHits === undefined;else defined">
      <button class="btn btn-secondary disabled">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
    <ng-template #defined>
      <div *ngIf="!numberOfHits ;else found">
        <button class="btn btn-danger center" disabled>Compound not found</button>
        <button class="btn btn-success" routerlink="/create">Add new item</button>
      </div>
      <ng-template #found>
        <button class="btn btn-secondary disabled">Found {{numberOfHits}} compounds</button>
        <mat-form-field>
          <mat-label>Select item</mat-label>
          <mat-select [(value)]="selected">
            <mat-option [value]="-1" (click)="getItemProps()">None</mat-option>
            <mat-option *ngFor="let item of items; let i=index" [(value)]="i" (click)="getItemProps()">{{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </ng-template>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div id="recordTable" class="row">
        <div class="col-lg-4 no-gutters">
          <button class="btn btn-info btn-block" disabled>PROPERTY</button>
          <button class="btn btn-secondary btn-block" disabled>CAS#</button>
          <button class="btn btn-secondary btn-block" disabled>Name</button>
          <button class="btn btn-secondary btn-block" disabled>Location</button>
          <button class="btn btn-secondary btn-block" disabled>Supplier</button>
          <button class="btn btn-secondary btn-block" disabled>Quantity</button>
        </div>
        <div class="col-lg-8">
          <button class="btn btn-info btn-block" disabled>VALUE</button>
          <input id="cas" type=text class="form-control" [value]="item.cas" disabled>
          <input id="name" type=text class="form-control" [value]="item.name" disabled>
          <input id="location" type=text class="form-control" [value]="item.location" disabled>
          <input id="supplier" type=text class="form-control" [value]="item.supplier" disabled>
          <input id="quantity" type=text class="form-control" [value]="item.quantity" disabled>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="canvas-container">
        <canvas id="output-canvas"></canvas>
      </div>
    </div>
  </div>
</div>
<div>
  <input type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-onstyle="success"
    data-offstyle="danger" ng-model="checkbox" (click)="edition()">
  <button id=updateItem class="btn btn-primary" (click)="update()" disabled>Update Item</button>
  <button id=deleteItem class="btn btn-danger" routerLink="/delete">Delete Item</button>
</div>
