<div class="container">
  <div class="row">
      <div class="col-lg-5">
          <img id="home" class="standard" src="wwwroot/images/logo.png" alt="Web site under construction"
              width="400" height="80">
      </div>
      <div class="col-lg-7">
          <h4>This is demo version of chemicals storage management application. Please to not hesitate to try it.
              You can search, add, edit and delete items. </h4>
      </div>
  </div>
</div>


<div class="container">
  <div class="row">
      <div class="col-lg-10" id="holder">

      </div>
      <div class="col-lg-2">
          <img src="wwwroot/images/signin_img_4.jpg" />
      </div>
  </div>
</div>


<router-outlet></router-outlet>