<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <img class="standard" src="assets/images/logo.png" alt="Web site under construction" width="400"
        height="80" routerLink="/">
    </div>
    <div class="col-lg-7">
      <h4>This is demo version of chemicals storage management application. Please to not hesitate to try it.
        You can search, add, edit and delete items. </h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-10" id="holder">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-2">
      <img src="assets/images/signin_img_4.jpg" />
    </div>
  </div>
</div>
