<div>
    <p>Do you realy want to delete item id: id? This is irreversible!!</p>
    <button id=delete class="btn btn-danger">Delete</button>
</div>


<script>
    $(document).ready(function () {
        $("#delete").click(function () {
            var delItem = localStorage.getItem('edit'); //get all fields of deleted record
            delItem = JSON.parse(delItem);
            delId = delItem.id; //pull id of item
            console.log(`ID of removed item: ${delId}`);
            var settings = {
                async: true,
                crossDomain: true,
                url: `https://pht-api-munonj7kmq-ew.a.run.app/api/chemicals/delete/${delId}`,
                method: "DELETE"
            };
            $.ajax(settings).done(function (data) {
                var ctrl6 = new SuccessCtrl();
                ctrl6.GetView();
                $("#success").append(data);
                $("#again").attr('id', 'addNewItem').append("Add next item");
                console.log(data);
            });
        });
    });
</script>