<div>
    <button id=newQuery class="btn btn-primary" routerLink="/search" >New Search</button>
</div>
<div id="response">
    <div id="select">
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div id="table">
                <div id="recordTable" class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-info btn-block" disabled>PROPERTY</button>
                        <button class="btn btn-secondary btn-block" disabled>CAS#</button>
                        <button class="btn btn-secondary btn-block" disabled>Name</button>
                        <button class="btn btn-secondary btn-block" disabled>Location</button>
                        <button class="btn btn-secondary btn-block" disabled>Supplier</button>
                        <button class="btn btn-secondary btn-block" disabled>Quantity</button>
                    </div>
                    <div class="col-lg-8">
                        <button class="btn btn-info btn-block" disabled>VALUE</button>
                        <div id="tableBody"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="canvas-container">
                <canvas id="output-canvas"></canvas>
            </div>
        </div>
    </div>
</div>
<div>
    <button id=updateItem class="btn btn-primary">Update Item</button>
</div>


<script>
    $(document).ready(function () {
        var editItem = localStorage.getItem('edit');
        editItem = JSON.parse(editItem);

        $("#tableBody").append(`
            <input id="cas" type=text class="form-control" value=${editItem.cas}>
            <input id="name" type=text class="form-control" value=${editItem.name}>
            <input id="location" type=text class="form-control" value=${editItem.location}>
            <input id="supplier" type=text class="form-control" value=${editItem.supplier}>
            <input id="quantity" type=text class="form-control" value=${editItem.quantity}>     
        `);

        $("#updateItem").click(function () {

            var updateItem = {
                id: editItem.id,
                smiles: editItem.smiles,
                cas: $("#cas").val(),
                name: $("#name").val(),
                quantity: $("#quantity").val(),
                supplier: $("#supplier").val(),
                location: $("#location").val()
            };
            var settings = {
                async: true,
                crossDomain: true,
                url: "https://pht-api-munonj7kmq-ew.a.run.app/api/chemicals/update",
                method: "PUT",
                data: JSON.stringify(updateItem)
            };
            console.log(updateItem);

            $.ajax(settings).done(function (data) {
                var ctrl6 = new SuccessCtrl();
                ctrl6.GetView();
                $("#success").append(data);
                $("#again").attr('id', 'searchItem').append("Search new item");
                console.log(data);
            });
        });
        $("#newQuery").click(function () {
            var ctrl = new SearchCtrl();
            ctrl.GetView();
        });
    });
</script>