<div class="form-group row">
  <div class="form-group">
    <div class='JSDraw' id="test" dataformat='' data=''></div>
    <input type="text" class="form-control" placeholder="Draw structure or type CAS or Name of searched compound"
      autofocus [(ngModel)]="search"  (keyup.enter)="searchItem()">
    <button class="btn btn-primary" (click)="searchItem()" routerLink="/read">Search</button>
  </div>
</div>
<script type="text/javascript">
  JSDraw.create('test', {
    plugins: [{
      iconurl: 'plugins/world.gif',
      tooltips: 'Get SMILES',
      onclick: foo
    }]
  });

  function foo(jsdraw) {
    var smiles = jsdraw.getSmiles();
    $('input').val(smiles);
  }

</script>
